* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: url("./assets/img/Background-op.png");
    background-size: 100%;
}

@font-face {
    font-family: "Bootle";
    src: url("./assets/Fonts/bootle.ttf");
}

@font-face {
    font-family: "Yellow";
    src: url("./assets/Fonts/yellow.ttf");
}

.episode-title {
    font-family: "Bootle";
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
}

@-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }  
    img {
        height: 250px;
        margin: auto 50px;
        box-shadow: 3px 4px 6px 0px rgb(32, 31, 31);
    }

    img {
        -webkit-animation: roll-in-left 1s ease-out both;
                animation: roll-in-left 1s ease-out both;
    }
    
    .main {
        position: relative;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .episodes-description p {
        font-family: "Yellow";
        font-size: 40px;
        text-align: center;
        margin-right: 180px;
    }

    @-webkit-keyframes puff-in-center {
        0% {
          -webkit-transform: scale(2);
                  transform: scale(2);
          -webkit-filter: blur(4px);
                  filter: blur(4px);
          opacity: 0;
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      @keyframes puff-in-center {
        0% {
          -webkit-transform: scale(2);
                  transform: scale(2);
          -webkit-filter: blur(4px);
                  filter: blur(4px);
          opacity: 0;
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 280px;

}

.buttons {
	-webkit-animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) 2.5s both;
	        animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) 2.5s both;
}

#btn-1 {
        box-shadow: 3px 4px 6px 0px #913549;
        background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
        background-color:#ededed;
        border-radius:13px;
        border:1px solid #d6bcd6;
        display:inline-block;
        cursor:pointer;
        color:rgb(78, 76, 76);
        font-family:"Yellow";
        font-size:30px;
        padding:12px 76px;
        text-decoration:none;
        text-shadow:0px 1px 0px #e1e2ed;
    }
    #btn-1:hover {
        background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
        background-color:#bab1ba;
    }
    #btn-1:active {
        position:relative;
        top:1px;
    }

    #btn-2 {
        box-shadow: 3px 4px 6px 0px blue;
        background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
        background-color:#ededed;
        border-radius:13px;
        border:1px solid #d6bcd6;
        display:inline-block;
        cursor:pointer;
        color:rgb(78, 76, 76);
        font-family:"Yellow";
        font-size:30px;
        padding:12px 76px;
        text-decoration:none;
        text-shadow:0px 1px 0px #e1e2ed;
    }
    #btn-2:hover {
        background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
        background-color:#bab1ba;
    }
    #btn-2:active {
        position:relative;
        top:1px;
    }
