* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: url("./assets/img/Background-op.png");
    background-size: 100%;
}

@font-face {
    font-family: "Bootle";
    src: url("./assets/Fonts/bootle.ttf");
}

@font-face {
    font-family: "Yellow";
    src: url("./assets/Fonts/yellow.ttf");
}

header {
    font-family: "Bootle";
    font-size: 80px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

#headline {
    font-family: "Bootle";
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    color: black;
}

#headline > span {
    font-size: 75px;
}

header > span {
    font-size: 120px;
}

#goal {
    font-family: "Yellow";
    font-size: 38px;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    color: rgb(36, 34, 34);
    text-shadow: 0.2em 0.2em 0.1em rgba(0,0,0,0.2);
}

img {
    height: 350px;
}

.main {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: auto 80px 50px 20px;
    align-items: center;
}

footer {
    font-family: 'Trebuchet MS';
    font-size: 15px;
    color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
